
   <div class="Box">

    <div>
        <div class="button3 "><b>FullName:</b></div>
        <div class="button4 "><b>Phone:</b></div>
        <div class="button5 "><b>Title:</b></div> 
        <div class="button1 "><b>Clear Filter</b></div>
       <div class=" button2" routerLink="/filter" ><b>Edit Filter</b></div>
    </div>
    </div>
    <section class="card">
       <div class="container-fluid" >
          <div class="slider-warp">
    <div class="slider-main" >
     <div class="item" *ngFor="let users of usersList" >
        <div> 
          <img src="/assets/images/female.jpg" width="150" height="110" style="vertical-align:middle; margin-top:10%;margin-left: 25%;margin-right: 50%;">
            <div class="container">
                <strong> Name:</strong>{{users.fullName}}<br>
                <strong>Title:</strong>{{users.title}}<br>    
                <strong>Phone No:</strong> {{users.phoneNo}}<br>
                <nav>
                    <!-- <mat-icon (click)="passDetails(users)">fullscreen</mat-icon> -->
                    <mat-icon (click)="passDetails(users)">unfold_more</mat-icon>
                </nav>
            </div>
        </div>
     </div>
    </div>
    </div>
    <div class="button-area"> 
        <!-- <mat-icon  [ngStyle]="prev?" appPrev>navigate_before</mat-icon> -->
        <button class="prev" appPrev ><b><a>&#8249;</a></b>  </button>
        <!-- <i style='font-size:24px' class='fas'>&#xf424;</i> -->
        <button class="next" appNext ><b><a>&#8250;</a></b>  </button>
    </div>
    </div>
</section> 

<router-outlet></router-outlet>
  <!-- <a routerLink="/users">gotousers</a> <br> -->


   
