<div>
  <h1 class="text-center"><b>User Model</b></h1>
</div> 
<div class="close">
  <mat-icon  (click)="closeDetail()">close</mat-icon>
</div>
<div>
</div>
<div class="container">
  <form >
    <div class="row">
      <div class="col-25">
        <label for="fname">Full Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" value=" {{users.fullName}}">
      </div>
    </div>
    <div class="row">
     <div class="col-25">
       <label for="fname">Title</label>
     </div>
     <div class="col-75">
       <input type="text" id="fname" name="firstname" value=" {{users.title}}">
     </div>
   </div>
   <div class="row">
     <div class="col-25">
       <label for="fname">Email</label>
     </div>
     <div class="col-75">
       <input type="text" id="fname" name="firstname" value=" {{users.email}}">
     </div>
   </div>
   <div class="row">
     <div class="col-25">
       <label for="fname">Phone</label>
     </div>
     <div class="col-75">
       <input type="text" id="fname" name="firstname" value=" {{users.phone}}" >
     </div>
   </div>
   <div class="row">
     <div class="col-25">
       <label for="fname">Status</label>
     </div>
     <div class="col-75">
       <input type="text" id="fname" name="firstname" value=" {{users.status}}">
     </div>
  </div>
  </form>
</div>
  
   